@font-face {
    font-family: "bebas neue";
    src: url("./fuentes/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: "nunito";
    src: url("./fuentes/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

header {
    background-image: url("./Imagenes/miniaturalandingoficial.png");
    background-size: cover;
    background-position: top center;
    height: 115vh;
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.loguito {
    width: 100%;
    margin-bottom: 100px;
    max-height: 80px;
}
.princpio {
    padding-left: 180px;
    max-width: 600px;
    z-index: 2;
}
h1, h2, h3 {
    font-family: "bebas neue";
}
p {
    font-family: "nunito";
    font-size: 24px;
}
h1 {
    font-size: 80px;
    margin-bottom: 62px;
}
h2 {
    font-size: 50px;
}
h3 {
    margin: 0;
    font-size: 24px;
}
.pprin {
    font-size: 30px;
    max-width: auto;
    margin-bottom: 62px;
  }
.boton {
    display: inline-block; 
    background-color: #FF0044; 
    color: white;
    font-family: "bebas neue";
    font-weight: bold;
    text-decoration: none; 
    border-radius: 50px; 
    border: none;
    font-size: 48;
    cursor: pointer;
    padding: 10px 40px;
}
.contenido-inedito {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.item-compu {
    width: 45%;
    height: auto;
}
.texto-inedito {
    max-width: 500px;
}
.finalpage {
    background-image: url("./Imagenes/fondoolga.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 450px 20px;
}
.footer {
    display: grid;
    grid-template-areas: 
    "footcolpreg footcolred footcolleg";
    grid-template-columns: 1fr auto 1fr;
    background-color: #006AAC;
    padding: 5px 5px;
    color: black;
    align-items: start;
    text-align: center;
}
.footcolleg {
    grid-area: footcolleg;
    text-align: right;
}
.footcolleg p {
    margin: 2px 0;
    font-size: 12px;
}
.footcolpreg {
    grid-area: footcolpreg;
    text-align: left;
}
.footcolred {
    grid-area: footcolred;
    display: flex;
    justify-content: center;
}
